:root {
  --block-dimension: 40px;
}
* {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
  font-size: 16px;
  font-family: Lobster;
}
h1 {
  font-size: 3em;
}

.whole-page {
  background-color: #f8f9fa;
  width: 100%;
  height: 100vh;
}

.sidebar {
  position: absolute;
  left: 0;
  width: 15%;
  height: 100vh;
  background-color: #212529;
  color: #e9ecef;
  font-size: 3em;
  text-align: center;
}
.sidebar ul {
  border: 5px outset #dee2e6;
}
.sidebar li {
  border-bottom: 5px outset #dee2e6;
  position: relative;
}
.dropdown {
  position: absolute;
  width: 1200px;
  color: #000;
  left: 100%;
  top: 0;
  height: 100%;
}
ul.dropdown {
  list-style-type: none;
  border: none;
}

.dropdown li {
  display: inline;
  border-bottom: none;
  border: 5px outset white;
}

.heading {
  width: 100%;
  background-color: #212529;
  line-height: 100px;
  color: #e9ecef;
  text-align: center;
}
.container {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(16, 1fr);
  width: calc(var(--block-dimension) * 16);
  height: calc(var(--block-dimension) * 16);
  margin: auto;
  padding-top: 7em; /* remove*/
}

.block {
  width: var(--block-dimension);
  height: var(--block-dimension);
  background-color: white;
  border: 1px solid black;
}

#color {
  color: #add8e6;
}
#eraser {
  color: #ffb6c1;
}
li {
  cursor: pointer;
}
.green {
  background-color: green;
}
.yellow {
  color: #ffd60a;
}
