:root {
  --block-dimension: 40px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: Lobster;
  background-color: #f8f9fa;
}
h1 {
  font-size: 3.5em;
}
h2 {
  font-size: 2em;
}

.whole-page {
  width: 100%;
  height: 100%;
  text-align: center;
}

.sidebar {
  position: absolute;
  left: 0;
  width: 15%;
  min-width: 175px;
  height: 100vh;
  background-color: #212529;
  color: #e9ecef;
  font-size: 3em;
  text-align: center;
}
.sidebar ul {
  border: 5px outset #dee2e6;
}
.sidebar li {
  border-bottom: 5px outset #dee2e6;
  position: relative;
}
.dropdown {
  position: absolute;
  width: 1200px;
  color: #000;
  left: 100%;
  top: 0;
  height: 100%;
}
.active {
  display: none;
}
ul.dropdown {
  list-style-type: none;
  border: none;
}

.dropdown li {
  display: inline;
  border-bottom: none;
  border: 5px outset white;
}

.heading {
  width: 100%;
  background-color: #212529;
  line-height: 100px;
  color: #e9ecef;
  text-align: center;
}
#change-size {
  display: inline-block;
  margin-top: 7em;
  border: 4px solid #212529;
  padding: 10px 15px;
  box-shadow: 0px 0px 10px 5px #6c757d;
  cursor: pointer;
}

#change-size:active {
  border: 4px inset white;
  box-shadow: none;
}
.container {
  width: calc(var(--block-dimension) * 16);
  height: calc(var(--block-dimension) * 16);
  margin: auto;
  padding-top: 5em; /* remove*/
}

.block {
  width: var(--block-dimension);
  height: var(--block-dimension);
  background-color: white;
  border: 1px solid black;
}

#color {
  color: #add8e6;
}
#eraser {
  color: #ffb6c1;
}
li {
  cursor: pointer;
}
.green {
  background-color: green;
}
.yellow {
  color: #ffd60a;
}
#size {
  font-size: 16px;
  text-align: center;
  width: 205px;
  padding: 5px;
}
